ca: certs/root.crt
subdomains:
  root:
    proxy: http://127.0.0.1:9999
    cert: certs/example.com.pem
    key: certs/example.com.key
  code: # http(s)://code.example.com
    proxy: http://127.0.0.1:8080
    cert: certs/code.example.com.pem
    key: certs/code.example.com.key
  git: # http://git.example.com
    proxy: http://10.10.10.10:6666
ports:
  https: 443
  http: 80
